<h1>Welcome! Please sign up</h1>

<form action="/users/signup" method="POST" id="signup" name="signup">
    <div>
        <label for="firstname">First Name</label>
        <input type="text" id="firstname" name="firstname">
    </div>
    <div>
        <label for="lastname">Last Name</label>
        <input type="text" id="lastname" name="lastname">
    </div>
    <div>
        <label for="email">email</label>
        <input type="email" id="email" name="email">
    </div>
    <div>
        <label for="username">User Name</label>
        <input type="text" id="username" name="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>