<h1>{{user.FirstName}} {{user.LastName}}</h1>
<h3>{{user.Username}}</h3>

<form action="/users/{{user.UserId}}" method="GET">
    <div>
        <label for="delete">Delete:</label>
        <input type="checkbox" name="delete" id="delete">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>